<!DOCTYPE html>
<html>
  <head>
    <title>Serrano Lola</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <style>
    
    ul.menu {
      list-style-type: none;
      padding: 0;
      background-color: #a0d7db;
      overflow: hidden;
      border-radius: 25px;
    }

    ul.menu li {
      float: left;
    }

    ul.menu li a {
      display: block;
      color: rgb(14, 12, 12);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    ul.menu li a:hover {
      background-color: #e9a6f7;
      border-radius: 25px;
    }
  </style>
  </head>
  <body>
   <ul class="menu">
    <li><a href="/">Inicio</a></li>
    <li><a href="/documentos">Documentos</a></li>
    <li><a href="/eventos">Eventos</a></li>
    <li><a href="/nosotros">Nosotros</a></li>
  </ul>
  </body>
</html>
